@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

/* shared Tailwind Properties */
.transition {
  @apply transition-all ease-in-out duration-300;
}
.Icon {
  @apply flex items-center justify-center text-grayColor cursor-pointer font-bold hover:bg-[#f9fcff] border border-solid hover:border-neutral-300 hover:text-black rounded-full text-[17px] p-2;
}
.input {
  @apply px-[16px] py-[10px] outline-none text-sm text-[#1c252e] border border-solid border-[#aeb7c154] rounded-md focus:border-slate-700 w-full;
}

button {
  @apply font-medium text-sm leading-[1.71429] capitalize min-w-[60px] shadow-none text-black   outline-none border border-solid border-neutral-200 m-0 no-underline px-3 py-[6px] rounded-md   transition-all duration-300 ease-in-out hover:bg-gray-700 hover:text-white hover:shadow-md;
}
.blackbutton {
  @apply flex items-center justify-center gap-1 bg-[#1C252E] text-white px-3 py-2 rounded-md hover:shadow-lg hover:opacity-[.8] font-semibold text-[13px] transition;
}
.customlabel {
  @apply absolute cursor-text bg-white px-1 left-2.5 top-2.5 text-[#9EA9B5] text-[14px] transition-all transform origin-left  peer-focus:-top-2 peer-focus:left-2.5 peer-focus:text-xs peer-focus:text-black peer-focus:scale-90;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade {
  animation: fade 0.3s ease-out, fade-out 0.3s ease-in 2.7s forwards;
}

/* table of suyncfusions style */
/* Change table header row background */
.custom-grid .e-headercell {
  background-color: #f4f6f8 !important; /* Dark Gray */
  color: #3c4247;
  font-weight: bolder !important;
}
.e-headercelldiv {
  font-size: 13px !important;
  font-weight: 700 !important;
  color: 616170 !important;
}
/* Add shadow to table */

/* Optional: Highlight header row on hover */
